name: Gustavp Ribeiro

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:25
    steps:
      - uses: actions/checkout@v4
        with:
          node-version: 25
      - run: npm ci
      - run: npm test
      - run: npm run build
